.cabecalho{
    width: 400px;
    height: 800px;
    background-color: grey
}
.listra_clara1{
    width: 400px;
    height: 50px;
    background-color: lightgrey
}
.retangulo_cinza2{
    width: 400px;
    height: 

}