.cabecalho{
    width: 420px;
    height: 720px;
    background-color:rgba(211, 208, 66, 0.486)
}
.roblox{
    width: 420;
    height: 200px;
    background-color: rgb(218, 213, 213);
}
.freefire{
    width: 420;
    height: 200px;
    background-color: rgb(238, 226, 226);
}
.minecraft{
    width: 420;
    height: 200px;
    background-color: rgb(235, 228, 228);
}